.container {
    width: 100wh;
    height: 100vh;
    background-color: beige;
}
.color {
    display: "flex";
    justify-content: center;
    align-items: center;
    color: "#fff";
    font-size: 30px;
    margin-top: 50px;
    flex-direction: column;
    gap: 20px;
}
